---

- name: Enable nginx repo.
  template:
    src: nginx.repo.j2
    dest: /etc/yum.repos.d/nginx.repo
    owner: root
    group: root
    mode: 0644
  when: nginx_yum_repo_enabled

- name: install nginx packages
  yum: name="{{ item.name }}" state=installed
  with_items: "{{ packages }}"

- name: Ensure nginx is started and enabled to start at boot.
  service: name=nginx state=started enabled=yes